body {
    padding-bottom: 30px;
    position: relative;
    min-height: 100%;
  }

  a {
    transition: background 0.2s, color 0.2s;
  }
  a:hover,
  a:focus {
    text-decoration: none;
  }

  #sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 10px;
    overflow-y: auto;
    background-color: #f8f9fa;
    transition: all 0.3s;
  }

  #content {
    margin-left: 250px;
    transition: all 0.3s;
  }

  @media (max-width: 768px) {
    #sidebar {
      margin-left: -250px;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      margin-left: 0;
    }
    #content.active {
      margin-left: 250px;
    }
  }
  .toggle-for-mobile {
    display: none;
  }
  #wrapper {
    padding-left: 0;
    transition: all 0.5s ease;
    position: relative;
  }

  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 1px solid #0000001a;
    transition: all 0.5s ease;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }

  /* .sidebar-brand {
    position: absolute;
    left: -40px;
    top: 0;
    width: 250px;
    text-align: center;
    padding: 20px 0;
  } */
  .sidebar-brand img {
    cursor: pointer;
  }
  .sidebar-brand h2 {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
  }

  .sidebar-nav {
    position: absolute;
    top: 75px;
    width: 250px;
    margin: 0;
    padding: 0 0.8em 1em 0.8em;
    list-style: none;
    min-height: 300px;
    /* height: calc(100% - 78px); */
    min-height: 300px;
    overflow-y: auto;
  }
  .sidebar-nav > li {
    text-indent: 10px;
    line-height: 42px;
  }
  .sidebar-nav > li a {
    display: block;
    text-decoration: none;
    color: #182230;
    font-weight: 600;
    font-size: 0.9em;
    display: flex;
    gap: 10px;
    padding: 0 10px;
    border-radius: 8px;
    margin: 10px 0;
    align-items: center;
  }
  .sidebar-nav > li > a:hover,
  .sidebar-nav > li.active > a {
    text-decoration: none;
    color: #182230;
    background: #f6f6f6;
  }

  #navbar-wrapper {
    width: 100%;
    position: absolute;
    z-index: 2;
  }
  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
  }
  #navbar-wrapper .navbar {
    border-width: 0 0 0 0;
    background-color: #eee;
    font-size: 24px;
    margin-bottom: 0;
    border-radius: 0;
  }
  #navbar-wrapper .navbar a {
    color: #757575;
  }
  #navbar-wrapper .navbar a:hover {
    color: #f8be12;
  }

  #content-wrapper {
    width: 100%;
    position: absolute;
    padding: 20px 2em;
    top: 100px;
  }
  .content-title {
    margin-top: 0.6em;
    font-size: 1.8em;
    font-weight: 600;
    color: #101828;
  }
  .content-para {
    font-size: 1em;
    font-weight: 400;
    color: #475467;
  }
  .content-details {
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 2em;
    border-radius: 28px;
    background: #fa3a6e1a;
    gap: 1em;
  }
  .content-details .content-details-text {
    width: 50%;
  }
  .content-details h2 {
    font-size: 2em;
    font-weight: 600;
    color: #c1213c;
    margin-bottom: 0.2em;
  }
  .content-details p {
    font-size: 1em;
    font-weight: 400;
    color: #1e1e1ecf;
  }
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }
  #wrapper.toggled .sidebar-search input {
    border: none;
  }
  .sidebar-search input {
    padding: 0 3rem;
    border-radius: 8px;
  }
  .sidebar-search input::placeholder {
    padding-left: 0rem;
  }
  .sidebar-search {
    position: relative;
    margin: 1em 0;
  }
  .sidebar-search img {
    position: absolute;
    top: 10px;
    left: 9px;
    width: 1.2em;
  }

  .card-body {
    padding: 0;
  }

  .custom-card .card-text {
    font-size: 30px;
    font-weight: 600;
    text-align: left;
  }

  .cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2em;
  }
  .custom-card {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #eaecf0;
    box-shadow: 0px 1px 2px 0px #1018280d;
    padding: 1em 1.5em;
    gap: 12px;
    border-radius: 12px;
    transition: 0.5s;
    cursor: pointer;
  }
  .svg-container svg circle,
  .svg-container svg path {
    fill: #e52747;
    transition: 0.5s;
  }
  .custom-card:hover .svg-container svg circle,
  .custom-card:hover .svg-container svg path {
    fill: #fff;
  }

  .custom-card:hover .svg-container-female svg circle {
    fill: #fff;
  }
  .custom-card:hover .svg-container-female svg path {
    stroke: #fff;
  }

  .custom-card:hover .svg-container-success svg circle {
    fill: #fff;
  }
  .custom-card:hover .svg-container-success svg path {
    stroke: #fff;
  }

  .custom-card:hover {
    background-color: #e52747;
    color: #ffffffcc;
  }
  .card-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    margin-bottom: 0.25em;
  }
  @media (min-width: 992px) {
    #wrapper {
      padding-left: 250px;
    }

    #wrapper.toggled {
      padding-left: 60px;
    }

    #sidebar-wrapper {
      width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
      width: 56px;
    }

    #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -190px;
    }

    #wrapper.toggled #content-wrapper {
      position: absolute;
      margin-right: -190px;
    }

    #navbar-wrapper {
      position: relative;
    }

    #wrapper.toggled {
      padding-left: 60px;
    }

    #content-wrapper {
      position: relative;
      top: 0;
    }

    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
      position: relative;
      margin-right: 60px;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    #wrapper {
      padding-left: 56px;
    }

    #sidebar-wrapper {
      width: 56px;
    }

    #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -250px;
    }

    #wrapper.toggled #content-wrapper {
      position: absolute;
      margin-right: -250px;
    }

    #navbar-wrapper {
      position: relative;
    }

    #wrapper.toggled {
      padding-left: 250px;
    }

    #content-wrapper {
      position: relative;
      top: 0;
    }

    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
      position: relative;
      margin-right: 250px;
    }
    .content-details {
      display: flex;
      flex-direction: column;
    }
    .content-details .content-details-text {
      width: 100%;
    }
    .toggle-for-mobile {
      display: none;
    }
    .custom-card {
      width: 46%;
    }
    .cards {
      display: flex;
      flex-wrap: wrap;
    }
  }

  @media (max-width: 767px) {
    #wrapper {
      padding-left: 0;
    }
    .toggle-for-mobile {
      display: block;
      float: right;
      position: relative;
      z-index: 1000;
    }
    #sidebar-wrapper {
      display: none;
    }

    #wrapper.toggled #sidebar-wrapper {
      width: 80%;
      display: block;
      background-color: #fff;
    }
    #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -250px;
    }

    #wrapper.toggled #content-wrapper {
      position: absolute;
      margin-right: -250px;
    }

    #navbar-wrapper {
      position: relative;
    }

    #wrapper.toggled {
      padding-left: 0px;
    }

    #content-wrapper {
      position: relative;
      top: 0;
    }

    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
      position: relative;
      margin-right: 250px;
    }
    .content-details {
      display: flex;
      flex-direction: column;
      padding: 2em 2em;
    }
    .content-details .content-details-text {
      width: 100%;
    }
    .custom-card {
      width: 100%;
    }
    .cards {
      display: flex;
      flex-wrap: wrap;
    }
  }
